
@font-face 
    font-family: oxygen
    src: url('./fonts/Oxygen-Light.ttf')
@font-face 
    font-family: sora
    src: url('./fonts/Sora-Regular.ttf')


.section-block
    background-color: $section
    border-radius: 10px
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
    .section-row
        margin: 15px 0
        display: flex
        align-items: center
        justify-content: center
        .withError
            //border-color: $red
        label, span
            font-size: 12px
        input, textarea
            border: 2px solid black
            border-radius: 5px
            margin-left: 15px
            padding: 5px
            &:focus
                outline: none
        .input-wrapper
            position: relative
.input-error
    position: absolute
    cursor: pointer
    //transform: translate(140%, 0)
    padding: 20px 10px
    border-radius: 8px
    animation: fadein .5s
    &:before
        content: ""
        width: 0px
        height: 0px
        position: absolute
        border-left: 10px solid transparent
        border-right: 10px solid black
        border-top: 10px solid black
        border-bottom: 10px solid transparent
        left: -10px
        top: 16px
  
        
    
html, body
    height: 100%
    font-family: sora
    overflow: hidden
    #root
        height: 100%
input
    border: none
    background-color: $section
    padding: 10px 15px
    margin: 5px 0
    &:focus
        outline: 0
button
    padding: 5px 10px
    font-size: 16px
    background: $accent
    border-radius: 5px
    border: none
    cursor: pointer
    color: #fff
    &:focus
        outline: none
    &:hover
        background: $accentL
