.post
    display: flex
    padding-right: 30px
    position: relative
    .avatar
        padding: 10px
        .pic
            height: 60px
            width: 60px
            background-size: cover
            background-position: center center
            background-repeat: no-repeat
            border-radius: 50%
            cursor: pointer
    .post-body
        padding: 10px
        width: 100%
        display: flex
        flex-direction: column
        //position: relative
        span
            font-weight: bold
            cursor: pointer
            transition: .3s ease
            &:hover
                color: $mainColor
        p
            word-break: break-all
            line-height: 20px
            margin-top: 15px
            font-size: 14px
        .replyForm
            animation: fadein .5s
            input
                border: 1px solid $mainColor
                background-color: #fff
                border-radius: 7px
                width: 80%
                padding: 7px 10px
                
        .post-buttons
            position: absolute
            right: 10px
            bottom: 0
            i
                cursor: pointer
                color: $mainColor
                margin-right: 5px
                &:hover
                    color: lighten($mainColor, 15%)
    .parent-wrapper
        margin-top: 5px
        border: 1px solid rgba(0,0,0, .3)
        border-radius: 7px
        width: 98%
        .post
            padding-right: 10px
            span
                font-size: 14px
            