.photo
    margin: 0 auto
    position: relative
    margin-top: 20px
    display: flex
    flex-direction: column
    transition: .4s ease
    padding: 7px
    img
        margin: auto
        transition: .4s ease
        margin-top: 8px
    h2
        text-align: center
        margin-top: 15px
        letter-spacing: 1px
        font-weight: 500
    input
        background-color: #fff
        display: none
    button
        width: 40%
        margin: 15px auto 0 auto
        font-size: 13px
